* {
  font-family: "Lucida Sans", sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}
/* nav section begins */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #335c67;
  color: #e09f3e;
}

h1 {
  font-size: 250%;
}

nav {
  font-weight: 900;
  margin: 0 1%;
  padding-left: 25%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  width: 100%;
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #e09f3e;
}

/* Nav section ends */

#hero {
  background-image: url(./0917221159.jpg);
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  padding-left: 50px;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #fff3b0;
  color: #335c67;
}
h2 {
  font-size: 40px;
}

/* Work thumbnails */
img {
  border: 5px solid #335c67;
  border-spacing: 5px;
}

.mainwork {
  width: 100%;
}
.mainwork:hover {
  box-shadow: 10px 5px 5px #540b0e;
}

.topleft {
  /* height: 125px; */
  width: 50%;
  margin: 10px;
}
.topright {
  /* height: 125px; */
  width: 50%;
  margin: 10px;
}
.btmleft {
  /* height: 200px; */
  width: 50%;
  margin: 10px;
}

/* Work thumbnails ends */
.card {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

#work,
#contact-me,
aside {
  align-self: flex-start;
  width: 20%;
}
.card-content {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px bold;
  /* margin-left: 100px; */
  padding: 20px;
  border-left: solid #540b0e;
}

.card li {
  display: inline;
  font-size: 50px;
  font-weight: 100;
  list-style: none;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 65%;
  border-left: solid #540b0e;
  padding-left: 20px;
}
.small-projects {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer {
  background-color: #335c67;
  color: #e09f3e;
  text-align: center;
}
